<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>My application</title>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Add</a></li>
            <li><a href="/movies">Movies</a></li>
        </ul>
    </nav>
    
    {{{body}}}

    <footer>
        <p>Footer</p>
    </footer>
    
</body>
</html>