<h1>Adding new movies</h1>
<form action="/movies/insertmovie" method="post" class="form">
<div class="form-control">
    <label for="title"> Title:</label>
    <input type="text" name="title" placeholder="Type a Title">
</div>
<div class="form-control">
    <label for="genre"> Genre:</label>
    <input type="text" name="genre" placeholder="Type a Genre">
</div>
<div class="form-control">
    <label for="director"> Director:</label>
    <input type="text" name="director" placeholder="Type the Director Name">
</div>
<div class="form-control">
    <label for="releasedt"> Release Date:</label>
    <input type="number" name="releasedt" placeholder="Type the release date">
</div>
<input type="submit" value="Add">
</form>